<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jsp-2.2</feature>
        <feature>rtcomm-1.0</feature>
        <feature>websocket-1.1</feature>
        <feature>appSecurity-2.0</feature>
        <feature>localConnector-1.0</feature>
      <feature>servlet-3.1</feature>
  </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>
    <!-- messageServerHost should be set to the MQTT Server you are using -- example: messagesight.demos.ibm.com -->
    <!-- rtcommTopicPath should be set to a Unique Topic.  Example: /rtcommHelpdesk-8475/  (use a unique integer rather than 8475) -->
    <!-- sharedSubscriptionPath should change the replaceme... with the rtcommTopicPath set .  Example: $SharedSubscription/rtcommHelpdesk-8475  (use a unique integer rather than 8475) -->
    <rtcomm messageServerHost='replaceme' rtcommTopicPath="/replacemewithsomethingunique/" sharedSubscriptionPath="$SharedSubscription/replacemewithsomethingunique" sharedSubscriptionsEnabled="true">
      <callQueue description="Helpdesk Appliances" signalingTopicName="AppliancesQueueSignaling" topicName="Appliances" callQueueID="Appliances"/>
    </rtcomm>
    <logging traceSpecification="*=info:com.ibm.ws.rtcomm.*=all"/>
    <applicationMonitor updateTrigger="mbean"/>
</server>
