{
  "server" : "MQTTSERVERHOSTNAME",
	"port" : 1883,
	"rtcommTopicPath" : "/RTCOMMTOPICPATH/",
  "userid" : "",
	"broadcastAudio" : true,
	"broadcastVideo" : true,
	"presenceTopic" : "agents"
}
